.footer {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 10px 30px;
  border-top: 2px solid white;
  margin-top: auto;
  background-color: #18145c;
}

.footer span:first-child {
  font-weight: bold;
}

.footer span:last-child {
  font-size: 14px;
}

.footerstyle{ 
  font-weight: bold;
  text-shadow: 2px 2px black;
}
