.historyListContainer {
    width: 80%;
    margin: auto;
    overflow: scroll;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black !important;
    height: max-content;
    max-height: 70vh;
   
    
  }
  
  .historyTable {
    width: 100%;
    border-collapse: collapse;
    
    
  }
  
  .historyListHeader {

  background-color: #f0f0f0;

  position: sticky;
  top: 0;
  padding: 10px;
  font-weight: bold;
  text-align: center !important;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  }

  .historyListHeader th {
    text-align: center;
    padding: 10px;
  }
  
  .historyListBody {
   
    overflow-y: auto;

  }

.historyEmptyMessageContainer {
  text-align: center;
  margin: 25px;
}

.historyEmptyMessageBox {
  display: inline-block;
  padding: 20px;
  margin-top: 30px;
  background-color: #ffcccc; 
  border-radius: 8px;
  color: #990000; 
  font-size: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  
  .historyListItem {
   
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
  }
  
  .historyListItem > td {
    
    text-align: center;
    padding: 8px;
  }
  
  .historyListItem:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  