body{
    background-color: #f6f0fb;
    font-family: 'Nunito', sans-serif; 
}

.entryFormBox{
    width: 90%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}


.entryInputGroup {
    display: flex;
    flex-direction: column;
  }
  
  .entryInputField {
    position: relative;
    margin-bottom: 20px;
  }
  
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

  
  .entryInputIcon {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    left: 10px; 
    color: #aaa; 
  }
  
  input {
    padding-left: 30px; 
  }

  label{
    float: left;
    padding-bottom: 5px;
    font-size: 16px;

  }
  a{
    color: #58b3ed;
    float: right;
  }

  .entryButton{
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
  }

.entryModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.entryModal {
  background: #fff;
  
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  animation: fadeIn 0.5s;
  position: relative;
}

.entryModalHeader {
  text-align: center;
  margin-bottom: 10px;
}

.entryModalCloseButton {
  color: #6c6c6c;
line-height: 50px;
font-size: 25px;
position: absolute;
right: 0;
top: 0;
cursor: pointer;
text-align: center;
width: 70px;
text-decoration: none;
}

.entryModalCloseButton:hover {
  color:black;
}

.entryModalContent {
  line-height: 1.5;
  color: rgb(40, 67, 0);;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
