
.main-bg {
    background-color: #2b9be3;
  }
  
  .soft-bg {
    background-color: #0b5786;
  }
  
  .dark-bg {
    background-color: #115179;
  }
  

  .main-color {
    color: white;
  }
  
  .soft-color {
    color: #ddd;
  }
  
  .dark-color {
    color: #2b9be3;
  }
  